doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Caveat|Raleway:500", rel="stylesheet")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css", rel="stylesheet", integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#top-navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .logo
            a.navbar-brand(href='/')
              span.logo-b B
              span.logo-z z
        .collapse.navbar-collapse#top-navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a(href='https://www.twitch.tv/brookzerker') Brooks is #[span#stream-status checking]

    .jumbotron
      .container
        h1.text-center Brooks Builds

    block content

    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

    script.
      var channelId = '#{channelId}'
      var clientId = '#{clientId}'

    script(src='/javascripts/main.js')
    block scripts
