/* Fonts! */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500i');

/* Global changes */
h1, h2 {
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  min-width: 1210px
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

ul li {
  list-style: none;
  margin-bottom: 1.2em;
}

/* Positioning */
.logo p,
nav li,
.social > div {
  display: flex;
}

.logo h1 {
  transform: rotate(-24deg);
  transform-origin: 36px -20px;
}

.logo span {
  position: absolute;
  top: 21px;
  left: 25px
}

.container {
  margin: 5px;
  max-width: 95%;
  display: inline-flex;
}

.left {
  width: 15%;
  min-width: 200px;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

main {
  width: 57%;
}

.right {
  outline: 1px solid green;
  width: 25%;
  min-width: 200px;
}

.center-text {
  justify-content: center;
}

.social > div {
  justify-content: center;
}

.social a {
  justify-content: space-around;
  width: 15%;
  text-align: center;
}

main .stream {
  display: flex;
  justify-content: center;
}

section.archived > div {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.archived .thumbnail, .archived .meta-data {
  display: flex;
  flex-direction: column;
  margin-left: 0.2em;
}

section.archived .meta-data > p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

section.archived .meta-data > h3 {
  margin: 0 0 0.3em 0;
}

section.email-list {
  padding-bottom: 1em;
  margin-top: 1em;
}

section.email-list label {
  text-align: center;
}

section.email-list input {
  width: 95%;
}

section.email-list input, section.email-list button {
  margin-top: 0.3em;
}

section.follow-me {
  padding: 2em 0;
}

/* Borders */
.bottom-border {
  border-bottom: 2px solid black;
  border-radius: 5px;
}

/* styling */
nav li {
  margin-bottom: 3px;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: white;
  background-image: url("../images/light_grey.png");
}


/* buttons */
.btn {
  background-color: gray;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.btn:hover, .btn > a:hover {
  color: #C9CACA;
}

.btn-extend {
  width: 97%;
}

.brown {
  background-color: #c76e2e;
}

.fade-right-brown {
background-image: linear-gradient(to right, white, #c76e2e);
}

.green {
  background-color: #2ec74a;
}

.blue {
  background-color: #2e78c7;
}

.light-green {
  background-color: #2ec7aa;
}

.light-blue {
  background-color: #2e78e7;
}

.gray {
  background-color: #c4c4c4;
}

.dark {
  background-color: #383838;
  color: #c4c4c4;
}

.fade-right {
  background-color: #89e;
}
