/* Fonts! */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500i');

/* Global changes */
h1, h2 {
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  min-width: 1210px
}

/* Positioning */
.logo p,
nav li,
.social > div {
  display: flex;
}

.logo h1 {
  transform: rotate(-24deg);
  transform-origin: 36px -20px;
}

.logo span {
  position: absolute;
  top: 21px;
  left: 25px
}

.container {
  margin: 5px;
  max-width: 95%;
  display: inline-flex;
}

.left {
  width: 15%;
  min-width: 200px;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

main {
  outline: 1px solid skyblue;
  width: 57%;
}

.right {
  outline: 1px solid green;
  width: 25%;
  min-width: 200px;
}

.center-text {
  justify-content: center;
}

.social > div {
  justify-content: center;
}

.social a {
  justify-content: space-around;
  width: 15%;
  text-align: center;
}

main .stream {
  display: flex;
  justify-content: center;
}

/* Borders */
.bottom-border {
  border-bottom: 2px solid black;
  border-radius: 5px;
}

/* styling */
nav li {
  list-style: none;
  margin-bottom: 3px;
}

.pointer {
  cursor: pointer;
}

.btn > a,
.social a {
  text-decoration: none;
}

.btn > a:visited,
.social a:visited {
  color: black;
}

/* buttons */
.btn {
  background-color: gray;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.btn:hover, .btn > a:hover {
  color: #C9CACA;
}
