/* Fonts! */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:500i');

/* Global changes */
h1, h2 {
  font-family: 'Alegreya Sans', sans-serif;
}

/* Positioning */
.logo p, nav li {
  display: flex;
}

.logo h1 {
  transform: rotate(-24deg);
  transform-origin: 36px -20px;
}

.logo span {
  position: absolute;
  top: 21px;
  left: 25px
}

.container {
  margin: 3vw;
  max-width: 95vw;
  display: inline-flex;
}

.left {
  width: 15vw;
  min-width: 200px;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

main {
  outline: 1px solid skyblue;
  width: 57vw;
}

.right {
  outline: 1px solid green;
  width: 25vw;
  min-width: 200px;
}

.center-text {
  justify-content: center;
}

/* Borders */
.bottom-border {
  border-bottom: 2px solid black;
  border-radius: 5px;
}

/* styling */
nav li {
  list-style: none;
  margin-bottom: 3px;
  cursor: pointer;
}

/* buttons */
.btn {
  background-color: gray;
  padding: 0.5em 1em;
  border-radius: 5px;
}
